
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: Helvetica Neue, Segoe UI, sans-serif;}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit; border-color: inherit;}


@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf'),
    url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf'),
    url('../fonts/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf'),
    url('../fonts/Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf'),
    url('../fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf'),
    url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf'),
    url('../fonts/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gin_regular';
    src: url('../fonts/gin_regular.otf'),
    url('../fonts/gin_regular.otf');
    font-weight: normal;
    font-style: normal;
}



header{
    display: inline-block;
    width: 100%;
    background: #000;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo_leftbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.logo_leftbox img{
    width: 54px;
}
.logout_rightbox {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: right;
}   
.logout_rightbox a{
    display: inline-block;
}
.logout_rightbox h4 {
    margin: 0px;
    color: #fff;
    padding-top: 20px;
    text-align: right;
    font-size: 16px;
    font-family: 'Montserrat-SemiBold';
}
.parettow_coverbox{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}
.left_paretboxpart{
    display: inline-block;
    width: 20%;
    float: left;
    background: #FDFDFD;
    border-right: 1px solid #F7F7F7;
    position: absolute !important;
}
.innercategories {
    display: inline-block;
    width: 100%;
}
.innercategories ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.innercategories ul li{
    display: inline-block;
    width: 100%;
}
.innercategories ul li a {
    display: inline-block;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #000;
    padding-left: 27px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.nav-offcanvas-menu ul li{
    display: inline-block;
    width: 100%;
}
.activelist {
    width: 95% !important;
    border-radius: 0px 26px 26px 0px;

    background: #000;
    /*background: url(../images/bgimg2.png);
    background-size: cover;*/
}
.activelist a {
    color: #A5853B !important;
}
.right_paddingboxpart{
    display: inline-block;
    width: 80%;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    float: right;
}
.users_datatablebox{
    display: inline-block;
    width: 100%;    
}
.userstextset{
    padding-bottom: 28px;
}
.users_datatablebox h3{
    margin: 0px;
    font-size: 20px;
    color: #A5853B;
    padding-top: 4px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat-Bold';
}
.customdatatable_box{
    display: inline-block;
    width: 100%;
    overflow: auto;
}
.customdatatable_box table.dataTable.no-footer {
    border-bottom: 1px solid #f1f1f1;
    border: 1px solid #f1f1f1;
}
.customdatatable_box table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 0px solid #111;
}
.customdatatable_box .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 2.5;
    vertical-align: top;
    border: 1px solid #f1f1f1;
}
.customdatatable_box .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.customdatatable_box td.details-control::after {
    content: 'view';
    cursor: pointer;
    color: #A20871;
}
.customdatatable_box tr.shown td.details-control::after {
    content: 'close';
}
.customdatatable_box table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: #878787;
    font-family: 'Montserrat-Medium';
    font-size: 13px;
}
.customdatatable_box tr td a img{
    width: 30px;
}
.has-error , .help-block , .error{
    color: #a94442;
}
.modalbuttonadd button{
 background: #A5853B;
 border: 0px;
 font-size: 15px;
 font-family: 'Montserrat-Regular';
}
.modalbuttonadd a{
 background: #A5853B;
 border: 0px;
 font-size: 15px;
 font-family: 'Montserrat-Regular';
}
.customdatatable_box .table-hover>tbody>tr:hover {
    background-color: #fff;
}
.customdatatable_box .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 0px solid #979797;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    background: inherit;
    background-color: #A5853B;   
}
.customdatatable_box .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    font-family: 'Montserrat-Medium';
}
.modalbuttonadd:hover button ,.modalbuttonadd:hover a{
 background: #A5853B;
}
.modalbuttonadd .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
 color: #fff;
 background: #A5853B;
 border-color: #A5853B;
}
.modalbuttonadd .btn-info.focus, .btn-info:focus {
 color: #fff;
 background: #A5853B;
 border-color: #A5853B;
}
.modalbuttonadd .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
 color: #fff;
 background-color: #A5853B;
 border-color: #A5853B;
}



/*login-css*/
.signupparent_divbox{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.signup_innerbox{
    display: inline-block;
    width: 38%;
}
.login_toplogobox{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
.login_toplogobox img{
    width: 135px;
}
.login_toplogobox h3{
    margin: 0px;
    font-size: 24px;
    font-family: 'gin_regular';
    color: #A5853B;
    padding-top: 18px;
}
.login_toplogobox p{
    margin: 0px;
    font-size: 15px;
    font-family: 'Montserrat-Bold';
    color: #A5853B;
    padding-top: 7px;
}
.logindetail_inputbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.logindetail_inputbox p{
    margin: 0px;
    font-size: 14px;
    color: #878787;
    padding-bottom: 7px;
    text-align: left;
    display: inline-block;
    float: left;
    font-family: 'Montserrat-Light';
}
.logindetail_inputbox input {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #212121;
    height: 42px;
    font-size: 14px;
    width: 100%;
    padding: 0px 10px;
    font-family: 'Montserrat-Medium';
}
.logindetail_inputbox .form-control:focus {
    box-shadow: none !important;    
    border: 1px solid rgba(33, 33, 33, 0.12);
}
.customcheck{
    display: inline-block;
    width: 100%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Montserrat-Light';
    display: inline-block;
    float: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .checkmark {
  background-color: #A5853B;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.logindetail_inputbox a{
    display: inline-block;
    font-size: 14px;
    float: right;
    font-family: 'Montserrat-Light';    
}
.signbtn_box{
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}
.signbtn_box button{
    color: #fff;
    border: 0px;
    border-radius: 20px;
    font-family: 'Montserrat-Light';
    font-size: 15px;
    padding: 9px 17px 9px 17px;
    background: #A5853B;
}

/*login-css*/






/*Dashboard css*/
.centr_paretboxpart {
    display: inline-block;
    width: 65%;
    float: left;
}
.signeup_topbox {
    display: inline-block;
    width: 100%;
}
.signeup_lefttextbox {
    display: inline-block;
    width: 50%;
    float: left;
}
.signeup_lefttextbox p {
    margin: 0px;
    font-size: 20px;
    color: #A5853B;
    padding-top: 4px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat-Bold';
}
.date_textboxpart {
    display: inline-block;
    width: 50%;
    float: left;
    position: relative;
}
.date_textboxpart img {
    width: 14px;
    position: absolute;
    left: 37px;
    top: 8px;
}
.date_textboxpart input {
 margin: 0px;
 font-size: 15px;
 color: #4D4F5C;    
 border: 1px solid #DEE2EC;
 border-radius: 17px;
 padding: 5px 13px 5px 5px;
 width: 92%;
 float: right;
 padding-left: 34px;
 padding-right: 24px;
 font-size: 14px;
 text-align: left;
 padding-top: 6px;
 font-family: 'Montserrat-Regular';
}
.signeup_innerborderbox {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #F1F1F1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 48px;
    -webkit-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    -moz-box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
    box-shadow: -1px 0px 11px -6px rgba(158,158,158,0.88);
}
.total_usersdetlis {
    display: inline-block;
    width: 100%;
    border: 1px solid #F1F1F1;
    margin-bottom: 20px;
}
.total_usersdetlis ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
}
.total_usersdetlis ul li {
    display: inline-block;
    width: 33.33%;
    float: left;
}
.total_usersdetlis ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.total_usersdetlis ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Montserrat-SemiBold';
}
.total_usersdetlis ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Montserrat-Medium';
}
.device_childbox {
    display: inline-block;
    width: 30%;
    float: left;
    border: 1px solid #EAEAEA;
    padding-top: 8px;
    padding-bottom: 90px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 12px;
}
.devicetital_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.devicetital_text p {
    margin: 0px;
    color: #4D4F5C;
    font-size: 21px;
    font-family: 'Montserrat-SemiBold';
}
.iosdeviceuser_text {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEAEA;
}
.iosdeviceuser_text img{
    width: 45px;
    float: left;
    margin-right: 10px;
}
.iosdeviceuser_text h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 0px;    
    font-family: 'Montserrat-Medium';
}
.iosdeviceuser_text p {
    margin: 0px;
    font-size: 16px;
    color: #6A7284;
    font-family: 'Montserrat-Medium'; 
}
.bordersetnone {
    border-bottom: 0px;
}
.city_childbox {
    display: inline-block;
    width: 67%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    border: 1px solid #f1f1f1;
}
.citycategory_box {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 1px solid #F1F1F1;
}
.leftcity_textbox {
    display: inline-block;
    width: 80%;
    float: left;
}
.leftcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #43425D;
    font-family: 'Montserrat-Medium';
}
.rightcity_textbox {
    display: inline-block;
    width: 20%;
    float: left;
}
.rightcity_textbox p {
    margin: 0px;
    font-size: 13px;
    color: #A6A7AD;
    font-family: 'Montserrat-SemiBold';
}
.cityborderset {
    border-bottom: 0px;
}
.right_paretboxpart {
    display: inline-block;
    width: 28%;
    float: left;
    margin-left: 40px;
}
.lifetime_titaltext {
    display: inline-block;
    width: 100%;
}
.lifetime_titaltext p {
    margin: 0px;
    font-size: 20px;
    color: #A5853B;
    padding-top: 4px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat-Bold';
}
.verified_detlisbox {
    display: inline-block;
    width: 100%;
    padding-top: 34px;
}   
.verified_detlisbox ul {
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin: 0px 0px 11px;
    border: 1px solid #F1F1F1;
    -webkit-box-shadow:-1px 0px 11px -6px rgba(158,158,158,0.88);
}
.verified_detlisbox ul li {
    display: inline-block;
    width: 100%;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
}
.verified_detlisbox ul li img {
    width: 45px;
    float: left;
    margin-right: 10px;
}
.verified_detlisbox ul h3 {
    margin-top: 0px;
}
.verified_detlisbox ul li h3 {
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Montserrat-SemiBold';
}
.verified_detlisbox ul li p {
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Montserrat-Medium';
}


/*Dashboard css*/

.separate_game_box{
    width: 100%;
    float: left;
    background: #d8d8d8;
    float: left;
    
}
.game_box{
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #ffffff;
    padding-top: 12px;
    float: left;
}
.game_box:last-child{
    border-bottom: 0;
}








/*Add-news css*/
.addnewsmodal_box{
    display: inline-block;
    width: 100%;
}
.addnewsmodal_box .modal-header{
    padding: 0px; 
    border-bottom: 0px solid #e5e5e5;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.addnewsmodal_box .close{
    font-size: 32px;
}
.modalbodysetbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.newstitlebox_inputbox{
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}
.newstitlebox_inputbox input , .newstitlebox_inputbox select{
    border: 1px solid #ddd;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    width: 100%;
    height: 38px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
}
.newstitlebox_inputbox textarea{
    border: 1px solid #ddd;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    border-radius: 5px;
    box-shadow: none;
    height: 98px;
}
.newstitlebox_inputbox .form-control:focus {
    box-shadow: none !important;
    border-color: #ddd;
    color: #000;
}
.newstitlebox_inputbox .input-group-addon {    
    display: none;
}
.newstitlebox_inputbox .input-group {    
    width: 100%;
}
.newstitlebox_inputbox ::-webkit-input-placeholder { 
  color: #b3b3b3;
}
.newstitlebox_inputbox ::-moz-placeholder {
  color: #b3b3b3;
}
.newstitlebox_inputbox :-ms-input-placeholder {
  color: #b3b3b3;
}
.newstitlebox_inputbox :-moz-placeholder {
  color: #b3b3b3;
}
.addnewsmodal_box .btn-default {
    color: #fff;
    background-color: #908f8e;
    border-color: #fff;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
}
.addnewsmodal_box .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #908f8e;
    border-color: #908f8e;
}
.addnewsmodal_box .modal-footer {
    padding: 9px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/*Add-news css*/

.addnewsmodal_box .btn-success {
    color: #fff;
    background-color: #A5853B;
    border-color: #fff;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
}
.addnewsmodal_box .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #A5853B;
    border-color: #A5853B;
}

i.iconsetaddbox{
    font-size: 17px;
    color: #A5853B;
    margin-right: 0px;
    margin-top: 2px;
    float: right;
}

table i.iconsetaddbox{
    font-size: 17px;
    color: #A5853B;
    margin-right: 5px;
    margin-top: 2px;
    float: left;
}
.customdatatable_box .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    font-size: 14px;
    font-family: 'Montserrat-Light';
}



.locationinfobox{    
    -webkit-box-shadow: 0px 0px 6px 1px rgba(161,161,161,1);
    -moz-box-shadow: 0px 0px 6px 1px rgba(161,161,161,1);
    box-shadow: 0px 0px 6px 1px rgba(161,161,161,1);
    border-radius: 6px;
    padding: 18px 18px;
    padding-top: 20px;
    padding-left: 18px;
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
}
.locationinfobox h2{
    font-family: 'Montserrat-Medium';
    color: #A5853B;
    margin: 0;
    margin-bottom: 18px;
    font-size: 26px;

}
.locationinfobox h3{
    /*font-family: 'Montserrat-Regular';*/
    color: #000;
    margin-bottom: 6px;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}
.locationinfobox h3 span{
    font-family: 'Montserrat-SemiBold';
    color: #000;
}
.inerdeta_locat{
    display: inline-block;
    width: 40%;
    float: left;
}
.locationinfobox .customdatatable_box{
    margin-top: 0;
    width: 60%;
    float: left;
}

.back-btn , .back-btn:hover{
    background: #A5853B;
    border: 0px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: #ffff;
}


.locatininfobtn a , .locatininfobtn a:hover{
  background: #A5853B;
  border: 0px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  display: inline-block;
  float: right;
}
.locatininfobtn{
  display: inline-block;
  width: 100%;
  padding-right: 18px;
}
.locatininfobtn span{
  display: inline-block;
  float: left;
  padding-top: 3px;
}

.locatininfoinerbtn{
  margin: 5px;
  display: inline-block;
  margin-right: 1px;
  margin-left: 2px;
}
.locatininfoinerbtn a{      
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  border: 1px solid #A5853B;
  color: #000;
  background: transparent ;
  border: 1px solid #A5853B;
}
.locatininfoinerbtn a.active_btn{
    border: 1px solid #000 !important;
}

.locatininfoinerbtn a:hover{
  background: #A5853B;
  border: 1px solid #A5853B;
}
.border_black{
    border: 1px solid #000 !important;
}








.left_paretboxpart{
    position: relative;
}



.content-wrapper {
  /*height: 100vh;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;*/
  /*background: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);*/
}



.nav-offcanvas {
  width: 100%;
  /*background: linear-gradient(135deg, #fbda61 0%, #f76b1c 100%);*/
  /*height: 100vh;*/
  position: relative;
  /*overflow-x: auto;*/
  /*z-index: 2000;*/
  /*padding: 50px 0;*/
  /*top: 0;*/
  /*left: -300px;*/
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li.activelist{
    border-radius: 0px 26px 26px 0px;
    background: #000;
}
.nav-offcanvas-menu ul li a {

    width: 100%;
    display: inline-block;
    /*font-family: 'Montserrat-Bold';*/
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #000;
    padding-left: 18px;
    margin-bottom: 13px;
    margin-top: 13px;
}
/*.nav-offcanvas-menu ul li a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
          }*/
          .nav-offcanvas.open {
              left: 0;
          }

          .offcanvas-overlay {
              position: fixed;
              top: 0;
              width: 100%;
              height: 100vh;
              background: rgba(0, 0, 0, 0.2);
              z-index: 1999;
              transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              visibility: hidden;
              opacity: 0;
          }
          .offcanvas-overlay.on {
              opacity: 1;
              visibility: visible;
          }



          .hamburgerboxdis{
            display: inline-block;
            float: left;
            margin-right: 18px;
        }

        .hamburger {
            position: relative;
            left: 0;
            top: 5px;
            cursor: pointer;
            display: none;
        }
        .hamburger span {
            color: #A5853B;
            font-size: 30px;
            cursor: pointer;
        }
        .topmenuopenbtn {
            display: inline-block !important;
            float: left;
            margin-top: 0px;
            margin-left: 0px;
        }


        .closebtnboxiner{
            display: none;
        }
        .nav-offcanvas .close {
            position: absolute;
            left: 17px;
            top: 7px;
            outline: 0;
            opacity: 1;
            background: transparent;
            border: none;
            box-shadow: none;
            cursor: pointer;
            /* transition: .3s ease; */
        }
        .nav-offcanvas .close span {
            font-size: 48px;
            color: #A5853B;
            text-shadow: none;
        }
/*.nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          }*/


          .modal-body.padboxset{
            padding: 0;
        }

        .signup_innerbox{
            width: 35%;
        }

        /* game variation */



        .imageslibbox ul{
            display: inline-block;
            width: 100%;
            padding-left: 0;
            margin: 0px;
        }

        .imageslibbox ul li{
            display: inline-block;
            width: 33.33%;
            float: left;
            padding-bottom: 20px;
            padding-right: 20px;
            position: relative;
        }

        .imageslibbox1 ul{
            display: inline-block;
            width: 100%;
            padding-left: 0;
            margin: 0px;
        }

        .imageslibbox1 ul li{
            display: inline-block;
            width: 33.33%;
            float: left;
            padding-bottom: 20px;
            padding-right: 20px;
            position: relative;
        }

        .closeicon{
            position: absolute;
            right: 31px;
            top: 12px;
        }
        .closeicon a{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            text-align: center;
            background: #A5853B;
            display: inline-block;
        }
        .closeicon a img{
         width: 15px;
         margin-top: 7px;
     }
     .photosboxset{
        display: inline-block;
        width: 100%;
        height: 230px;
    }
    .photosboxset img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .dropbtn:hover,
  .dropbtn:focus {
      background-color: #3e8e41;
  }
  .dropdown {
      position: relative;
      display: inline-block;
      float: left;
  }
  .dropdown-content {
      display: none;
      position: relative;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }
  .dropdown-content a.activelistsub:hover{
    background: #000;
}
.show {
  display: block;
}


.custmenbox{

}
.custmenbox .dropdown-content{
    box-shadow: inherit;
}
.custmenbox .dropdown-content a{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    color: #000;
}

.plusbttnbox i{
    margin-right: 50px;
    margin-top: 6px;
    float: right;
}

.activelistsub{
    width: 95% !important;
    border-radius: 0px 26px 26px 0px;
    background: #000;
    color: #A5853B !important;
}



.accounttital_text {
    display: inline-block;
    width: 64%;
    float: left;
}

.accountinfo_paretbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}

.accountinfo_paretbox h3 {
    margin: 0px;
    font-size: 23px;
    color: #4D4F5C;
    padding-bottom: 12px;
    font-family: 'Roboto-Medium';
}
.accountinfo_leftbox {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
}
.accountinfo_child {
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid #EAEAEA;
}
.accountinfoname_detlis {
    display: inline-block;
    width: 100%;
    margin-bottom: 23px;
    float: left;
}
.accountinfoname_left {
    display: inline-block;
    width: 50%;
    float: left;
}


.accountinfoname_left p {
    margin: 0px;
    font-size: 16px;
    color: #6D717D;
    padding-bottom: 5px;
    font-family: 'Montserrat-Regular';
}
.accountinfoname_left h4 {
    margin: 0px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #000;
}

.accountinfo_paretboxone {
    display: inline-block;
    width: 36%;
    float: left;
    padding-left: 40px;
}
.accountinfo_paretbox h3 {
    margin: 0px;
    font-size: 23px;
    color:#A5853B;
    padding-bottom: 12px;
    font-family: 'Montserrat-Medium';
}
.accountinfo_rightbox {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 20px 15px 12px 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    border-radius: 4px;
}
.accountcerated_text {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}
.accountcerated_text p {
    margin: 0px;
    font-size: 16px;
    color: #6D717D;
    padding-bottom: 0px;
    font-family: 'Montserrat-Regular';
}
.accountcerated_text h4 {
    margin: 0px;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    color: #000;
    margin-top: 6px;
    margin-bottom: 18px;
}

.backbtn{
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 12px;
}
.backbtn a{
    display: inline-block;
    font-family: 'Montserrat-Medium';
    background: #000;
    color: #A5853B;
    font-size: 16px;
    padding: 6px 14px 6px;
}

.datingactivity_box {
    display: inline-block;
    width: 100%;
    margin-bottom: 42px;
}
.datingactivity_box h3 {
    margin: 0px;
    font-size: 23px;
    color: #A5853B;
    padding-bottom: 14px;
    font-family: 'Montserrat-SemiBold';
    width: 100%;
}
.multi_variation_image h3 {
    margin: 0px;
    font-size: 23px;
    color: #A5853B;
    padding-bottom: 14px;
    font-family: 'Montserrat-SemiBold';
    width: 100%;
    float: left;
}
.innerdatingactivity {
    display: inline-block;
    width: 65%;
    border-radius: 4px;
    float: left;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
}
.swoped_detlisbox {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 12px 15px 9px 15px;
    border-bottom: 1px solid #EAEAEA;
}
.color_code1{
    height: 21px;
    float: left;
}
.swoped_detlisleft {
    display: inline-block;
    width: 45%;
    float: left;
}
.swoped_detlisright {
    display: inline-block;
    width: 55%;
    float: left;
}
.swoped_detlisleft p {
    margin: 0px;
    color: #6A7284;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
}
.swoped_detlisright p {
    margin: 0px;
    color: #000;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
}

.swoped_detlisright span {
    color: #009E5F;
    font-size: 18px;
    font-family: 'Montserrat-Medium';
}


.srfrdbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.srfrdbox h3{
    width: 100%;
    margin: 0;
    display: inline-block;
    color: #A5853B;
    font-family: 'Montserrat-Medium';
    font-size: 20px;
}

.custredbtn .selection {
    margin-bottom: 0;
    display: inline-block;
    float: left;
    margin-right: 14px;
}
.custredbtn .selection label {
    display: inline-block;
    width: 108px;
    background-color: transparent;
    border-radius: 2px;
    color: #ffffff;
    padding: 6px 10px 6px;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-weight: normal;
    border: 1px solid #000;
    color: #000000 !important;
    
}
.custredbtn .selection label:hover {
  background-color: #000000;
  color: #A5853B !important;
}
.custredbtn .selection input[type=radio] {
  display: none;
}
.custredbtn .selection input[type=radio]:checked ~ label {
  background-color: #000000;
  color: #A5853B !important;
}
.custredbtn{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.custredbtn h4{
    display: inline-block;
    float: left;
    margin: 0;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    margin-top: 6px;
    margin-right: 17px;
}


.left_paretboxpart .custmenbox .dropdown-content{
    width: 100%;
}
.selected_game{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    padding-bottom: 10px;
    padding-top: 15px;
}
.game_section0{
    border-top: 2px solid #000 !important;
}
.selected_game:last-child{
    border-bottom: 2px solid #000 !important;
}
.cluecverbox{
    display: inline-block;
    width: 100%;
    padding-right: 25px;
    margin-top: 28px;

    /*border-top: 2px solid #000 !important;
    margin-top: 28px;*/
}

.selected_game .form-group label{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat-Medium';
    font-weight: normal;
    font-size: 15px;
}
.selected_game .form-group{
    display: inline-block;
    width: 100%;
}

.selected_game h5{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat-SemiBold';
    color: #000;
    font-size: 18px;
}   



.left_paretboxpart .dropdown{
    width: 100%;
}

.px20_20{
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-right: 3px;
}


.avtardetailbox{
    display: inline-block;
    width: 100%;
}
.avtarimgtextiner{
    text-align: center;
    display: inline-block;
    width: 18%;
    float: left;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-bottom: 2%;
    margin-right: 2%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 5px 0px rgba(210, 210, 210, 0.88);
    position: relative;
}
.avtarimgtextiner .card-body{
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    border-top: 1px solid #EAEAEA;
    padding-top: 5px;
    background: #000000;
    text-align: left;
    display: inline-block;
    width: 100%;
    float: left;
    min-height: 65px;
}
.avtarimgtextiner .card-body h5{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat-SemiBold';
    color: #A5853B;
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 7px;
}
.avtarimgtextiner .card-body p{
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    display: inline-block;
    width: 100%;
    word-break: break-all;
    color: #A5853B;
}
.avtarimgtextiner img.card-img-top{
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.avtardetailbox h4{
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: 23px;
    color: #A5853B;
    padding-bottom: 16px;
    font-family: 'Montserrat-SemiBold';
    
}
.width-100{
    width: 100%;
}


.selectedtext{
    position: absolute;
    left: 4px;
    top: 4px;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #ffffff;
    background: #A5853B;
    padding: 2px 6px 2px;
    border-radius: 3px;
}
.basdistext{
    position: absolute;
    right: 4px;
    top: 4px;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    color: #ffffff;
    background: #A5853B;
    padding: 2px 6px 2px;
    border-radius: 3px;
}




.widget_save{
    float: left;
}

.iconsetaddbox{

}
.remove_color_code{
    display: inline-block;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 0;
    float: left;
}
.color_code{
    display: inline-block;
    margin-left: 4px;
    margin-right: 3px;
    margin-top: 0;
    float: left;
}

.widget_edit{
    margin-top: 4px;
    float: right;
}
.widget_save{
    margin-left: 8px;
    margin-top: 2px;
    margin-right: 4px;
}
.widget_close{
    margin-top: 2px;
    float: left;
    margin-left: 2px;
}

.radiobtnbox{
    display: inline-block;
    padding-left: 11px;
    padding-top: 2px;
}
.radiobtnbox .radio-inline{
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat-Medium';
    color: #A5853B;
    margin: 0;
    font-size: 16px;
}
.gold_price{
    margin-bottom: 3px;
}

.boxheightset .card-body{
    min-height: auto;
}


.adduserdetbox .modal-content .modal-header h4{
    margin: 0px;
    font-size: 20px;
    color: #A5853B;
    padding-top: 4px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat-Bold';
}
.adduserdetbox .modal-body{

}
.adduserdetailbox{

}
.userdeta_titlebox{
    display: inline-block;
    width: 100%;
}
.userdeta_titlebox h5{
    margin: 0px;
    font-size: 16px;
    color: #A5853B;
    padding-top: 0px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 6px;
}

.alltitandchebox{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding-bottom: 18px;
    margin-bottom: 25px;
}

.checkuserditbox{
    display: inline-block;
    width: 100%;
}

.colmd4box{
    display: inline-block;
    width: 33.33%;
    float: left;
}
.checkuserditbox .checkbox{
    margin-bottom: 1px;
}

.checkuserditbox .checkbox label{
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Montserrat-Medium';
}

.hunt-number{
    margin: 0px;
    font-size: 22px;
    color: #4D4F5C;
    padding-bottom: 3px;
    font-family: 'Montserrat-SemiBold';
}

.hunt-text{
    margin: 0px;
    font-size: 14px;
    color: #6A7284;
    font-family: 'Montserrat-Medium'
}

.prohntbox{
    padding-bottom: 8px;
    margin-bottom: 18px;
}

.view_td_set{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.view_td_set button{
    display: inline-block;
    float: left;
    background-color: #000000;
    border: 0;
    color: #A5853B !important;
}

.view_td_set a{
    display: inline-block;
    float: left;
    background-color: #000000;
    border: 0;
    color: #A5853B !important;
}
.view_td_set a:hover , .view_td_set a:focus{
    background-color: #000000 !important;
    color: #A5853B !important;
}
.view_td_set button:hover , .view_td_set button:focus{
    background-color: #000000 !important;
    color: #A5853B !important;
}

.separate_mini_game_box{
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 15px;    
}
.mini_game{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0px;
    margin-bottom: 22px;

}

.separate_game_box{
    display: inline-block;
    width: 100%;
}
.daingaemtitlebox{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 0;
    margin-top: 15px;
     /* display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 26px;
    border-bottom: 1.5px solid #A5853B;
    margin-bottom: 12px;*/

}
.daingaemtitlebox h4{
    font-family: 'Montserrat-Medium';
    color: #A5853B;
    margin: 0;
    margin-bottom: 0px;
    font-size: 20px;
}

.button_box .add_prize , .button_box .add_map_time{
background: #A5853B;
    border: 0px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: #ffffff !important;
        padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.button_box .remove_prize , .button_box .remove_map_time{
background: #A5853B;
    border: 0px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: #ffffff !important;
       padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 3px;
}


.daingaemtitlebox h6{
    width: 100%;
    margin: 0;
    font-size: 14px;
}

.daingaemtitlebox h5{
    width: 100%;
    margin: 0;
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
}

.remove_mini_game , .remove_mini_game1 , .add_mini_game , .add_game , .remove_game , .remove_game1{
    background: #A5853B;
   background: #A5853B;
    border: 0px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular';
    margin-top: 26px;
    padding: 6px 7px 6px;
    margin-bottom: 10px;
}
.remove_mini_game i , .remove_mini_game1 i , .add_mini_game i , .add_game i , .remove_game i , .remove_game1 i{
    margin-top: 5px;
    margin-right: 5px;
    float: left;
        font-size: 11px;
}
.remove_mini_game:hover , .remove_mini_game1:hover , .add_mini_game:hover , .add_game:hover , .remove_game:hover, .remove_game1:hover{
    color: #FFFFFF;
}

.allbasicdirmain{
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.allbasicdirbox{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    -moz-box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    box-shadow: 0px 0px 8px 0px rgba(210, 210, 210, 0.88);
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 22px;
}

.ui-datepicker .ui-icon {
    .glyphicon();
    visibility: hidden;
    text-indent: 0;
    &:before {
     visibility: visible;
 }
}


.fdaboxallset{
    display: inline-block;
    width: 100%;
}
.Submitnextbtn{
    display: inline-block;
    width: 100%;
    /*padding-left: 15px;*/
}

.Submitnextbtn .btnSubmit{
    background: #A5853B;
    border: 0px;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Montserrat-Regular';
    margin-top: 6px;
    padding: 6px 10px 6px;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 34px !important;
    line-height: 32px !important;
}

.addhunteyrefbtn{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}
.addhunteyrefbtn a.btn{
    background: #A5853B;
    border: 0px;
    font-size: 15px;
    font-family: 'Montserrat-Regular';
    color: #ffffff !important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
}
/*.addhunteyrefbtn a{
    color: #A5853B;
}
.addhunteyrefbtn a{
    color: #A5853B;
}*/

.tooltip.right{
    width: 100% !important;
}


.eventpagetitle{
    display: inline-block;
    width: 100%;
}
.eventpagetitle h4{
    font-family: 'Montserrat-Medium';
    color: #A5853B;
    margin: 0;
    margin-bottom: 0px;
    font-size: 20px;
}

.separate_mini_game_box .form-group .form-label a{
    background: #000000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    color: #A5853B;
    line-height: 1;
    font-size: 14px;
}
.allbasicdirmain .allbasicdirbox .form-group .form-label a{
    background: #000000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    color: #A5853B;
    line-height: 1;
    font-size: 14px;
}


.boxmapedset{
    margin-bottom: 13px;
}


/*.allbasicdirbox .form-group .form-label{
    margin-bottom: 10px;
}*/


.prize_box , .map_time_dealy_box{
    display: inline-block;
    width: 100%;
}


.allavtitembox{
    display: inline-block;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
    max-height: 220px;
    overflow: auto;
}
.avt_itemboxset{
    display: inline-block;
    width: 14.66%;
    float: left;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
    border: 1px solid #A5853B;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
}
.avt_itemboxset img{
    width: 55px;
}

.custboxslt{
    display: inline-block;
    width: 100%;
}
/* The container */
.select_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select_container input {
  /*position: absolute;*/
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;
}
.checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #A5853B;
    border-radius: 4px;
    /*top: 0;
    left: 0;*/
    display: inline-block;
}
.select_container:hover input ~ .checkmark {
  background-color: #ffffff;
}
.select_container input:checked ~ .checkmark {
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.select_container input:checked ~ .checkmark:after {
  display: block;
}
.select_container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #A5853B;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custboxslt .select_container{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
































/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 1068px){
    .locationinfobox h2{
        font-size: 22px;
    }
}
@media (max-width: 1042px){
    .locationinfobox h2{
        font-size: 22px;
    }
    .iosdeviceuser_text img{
        width: 40px;
    }
    .iosdeviceuser_text h3{
        font-size: 20px;
    }
    .iosdeviceuser_text p{
        font-size: 14px;
    }
    .total_usersdetlis ul li img{
        width: 40px;
    }
    .total_usersdetlis ul li h3{
        font-size: 20px;
    }
    .total_usersdetlis ul li p{
        font-size: 14px;
    }
    .verified_detlisbox ul li img{
        width: 40px;
    }
    .verified_detlisbox ul li h3{
        font-size: 20px;
    }
    .verified_detlisbox ul li p{
        font-size: 14px;
    }
}
@media (max-width: 991px){
    .signup_innerbox {
        width: 64%;
    }
    .closebtnboxiner{
        display: inline-block;
    }
    header{
        padding-left: 20px;
        padding-right: 25px;
    }
    .logout_rightbox{
        float: right;
        width: 150px;
        text-align: right;
    }
    .logo_leftbox{
        width: 150px;
    }
    .right_paddingboxpart{
        display: inline-block;
        width: 100%;
    }
    .hamburger{
        display: inline-block;
    }
    .nav-offcanvas {
        width: 249px;
        background: #fff;
        height: 100vh;
        position: fixed;
        overflow-x: auto;
        z-index: 2000;
        padding: 50px 0;
        padding-top: 85px;
        top: 0;
        left: -300px;
        transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        /*border-right: 1px solid #A5853B;*/
        border-right: 1px solid #F7F7F7;
    }
}
@media (max-width: 850px){
    .inerdeta_locat{
        width: 100%;
        margin-bottom: 18px;
    }
    .locationinfobox .customdatatable_box{
        width: 100%;
    }
    .locationinfobox h2{
        margin-bottom: 10px;
    }
    .locationinfobox h3{
        font-size: 15px;
        margin-top: 4px;
    }
    .locatininfobtn span{
        padding-top: 6px;
    }
}
@media (max-width: 767px){

    .right_paddingboxpart{
        padding-left: 20px;
        padding-right: 20px;
    }
    .signeup_innerborderbox{
        margin-bottom: 18px;
    }
    .centr_paretboxpart{
        width: 100%;
    }
    .right_paretboxpart{
        width: 100%;
        margin-left: 0px;
    }
    .verified_detlisbox{
        padding-top: 0;
    }
}
@media (max-width: 414px){
    .login_toplogobox{
        padding-bottom: 22px;
    }
    .login_toplogobox p{
        font-size: 13px;
    }
    .login_toplogobox h3{
        font-size: 20px;
    }
    .login_toplogobox img {
        width: 95px;
    }
    .signupparent_divbox{
        margin-top: 40px;
    }
    .signup_innerbox{
        width: 88%;
    }
    .locatininfoinerbtn a{
        font-size: 13px;
        padding: 6px 10px 5px;
    }
    .back-btn{
        font-size: 12px;
    }
    .locationinfobox h3{
        font-size: 14px;
    }
    .locationinfobox h2 {
        font-size: 20px;
        padding-right: 0;
    }
    .locatininfobtn a{
        font-size: 13px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 4px;
    }
}
@media (max-width: 479px){
    .logout_rightbox{
        width: 115px;
    }
    .logo_leftbox {
        width: 80px;
    }
    .parettow_coverbox{
        padding-top: 0;
    }
    .date_textboxpart img{
        left: 11px;
    }
    .date_textboxpart input{
        width: 100%;
    }
    .signeup_lefttextbox{
        width: 100%;
    }
    .date_textboxpart{
        width: 100%;
        margin-top: 15px;
    }
    .total_usersdetlis ul li{
        margin-bottom: 10px;
        margin-top: 10px;width: 100%;
    }
    .device_childbox{
        width: 100%;
        padding-bottom: 0;
    }
    .city_childbox{
        width: 100%;
    }
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











